.container{
    width: 1000px;
    margin: 0px auto;
    

}
  

.shiroko{

    width: 250px;
    
}

nav{
    position: absolute;
    left: 500px;
    top: 60px;
}

a:link
{
text-decoration:none;
color:#3b5d60;
}

a:hover
{
margin-bottom: 3px solid #6c6a69;
    background:white;
}

a:visited
{
color:#43cdd7;
}


footer{
    text-align: center;
    background-color: #91b5f8;
}

.carousel-control-prev{
    margin-left: 280px;
}

.carousel-control-next{
    margin-right: 280px;
}

.justify-content-between{
    text-align: center;
    position: absolute;
    width: 1600px;
    top: 200px;
}

p{
    padding-left: 150px;
}

.carousel-inner img {
    margin: auto;
}






